<header class="content__title">
  <div>
  <h1>Bem-vindo(a) ao nosso sistema de agendamento da sala de reunião!</h1>
  <p>
    Com nossa aplicação, você poderá facilmente agendar e gerenciar o uso das salas de reunião da nossa empresa.
    Agora, marcar uma reunião se tornará mais rápido e conveniente do que nunca.
  </p>
  <p>
    Navegue pelas opções disponíveis, verifique a disponibilidade das salas, selecione a data e o horário desejados
    e faça sua reserva com apenas alguns cliques. Além disso, nosso sistema enviará notificações para lembrá-lo
    do seu agendamento e manter todos os participantes atualizados.
  </p>
  <p>
    Estamos empenhados em proporcionar a melhor experiência para você. Em caso de dúvidas ou problemas,
    nossa equipe de suporte está à disposição para ajudar.
  </p>
  <p>
    Aproveite a facilidade e eficiência do nosso sistema de agendamento de sala de reunião e otimize a gestão
    dos seus encontros corporativos.
  </p>
  <p>Tenha ótimas reuniões!</p>
  <p>Equipe de Desenvolvimento</p>
</div>




  <div class="actions">
    <a href="" class="actions__item zmdi zmdi-trending-up"></a>
    <a href="" class="actions__item zmdi zmdi-check-all"></a>

    <div class="dropdown actions__item">
      <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="" class="dropdown-item">Refresh</a>
        <a href="" class="dropdown-item">Manage Widgets</a>
        <a href="" class="dropdown-item">Settings</a>
      </div>
    </div>
  </div>
</header>

<%#= render partial: 'layouts/start' %>

<%= link_to t("devise.shared.links.sign_in"), new_session_path('user') unless current_user %><br />

<%#= link_to 'Loginnn', new_user_session_path %>
